script(src='/javascripts/tabula.js')

script#post-template(type='text/x-jquery-tmpl')
	.post(class='${type}')
		.meta
			.character 
				a(href='/characters/${characterId}') ${characterName}
			.type ${type}
			.when(title='${when}') ${when}
		.body {{html body}}

script#pagination-template(type='text/x-jquery-tmpl')
	.current page ${page} of ${total}
	a.prev(href='#') prev
	a.next(href='#') next
	.count ${count} post(s)

script#scene-template(type='text/x-jquery-tmpl')
	h2 ${name}
	p ${descrtiption}
	{{if imageUrl}}
	a.image(href='${imageUrl}')
		img(src='${imageUrl}',title='${name}')
	{{/if}}

script#roll-template(type='text/x-jquery-tmpl')
	.roll
		.total rolled ${total}
		{{each types}}
		{{if $value !== 0}}
		.outcome d${$value} = ${outcomes[$index]}
		{{else}}
		.bonus ${outcomes[$index]}
		{{/if}}
		{{/each}}

section(role='game')
	#context
		.campaign(title='The currently selected campaign.')
			-if(currentCampaign)
				a(href='/campaigns/' + currentCampaign.id)= currentCampaign.name
			-else
				a(href='/campaigns/join/') join a campaign
		.character(title='You are playing as ...')
			-if(currentCharacter && !isMaster)
				a(href='/characters/' + currentCharacter.id)=currentCharacter.name
			-else if(currentCharacter && isMaster)
				span You are the GM
			-else
				a(href='/characters/add') create a character

		-if(isMaster)
			div
				a(href='/scenes/') edit scene
		#scene
			
	#board
		-if(currentCampaign)
			#commands
				button(data-action='toggleOoc') toggle ooc
			#chat
				.input
					textarea(id='post')
				.buttons
					button(data-action='post') post
			#pagination
			#stream
		-else
			p

	#focus
		#help
			h2 formatting text
			p *bold* &rarr; <strong>bold</strong>
			p _italics_ &rarr; <em>italics</em>
			p {darkred:colored text} &rarr; <span style="color:darkred;">colored text</span>
			p d20 + 1 &rarr; {21} (that is, it's evaluated inline) 
			h2 commands
			p say &rarr; your character speaks
			p think &rarr; you character thinks
			p ooc &rarr; speak out of character
			p narrate &rarr; describes what your character is doing (you can omit this, as it is the default)

		#roll
			p hover over a post to see any rolls			