script(src='/javascripts/tabula.js')

script#post-template(type='text/x-jquery-tmpl')
	.post(class='${type}')
		.meta
			.character 
				a(href='/characters/${characterId}') ${characterName}
			.type ${type}
			.when(title='${when}') ${when}
		.body ${body}

script#pagination-template(type='text/x-jquery-tmpl')
	.current page ${page} of ${total}
	a.prev(href='#') prev
	a.next(href='#') next
	.count ${count} post(s)

script#roll-template(type='text/x-jquery-tmpl')
	.roll
		.total rolled ${total}
		{{each types}}
		{{if $value !== 0}}
		.outcome d${$value} = ${outcomes[$index]}
		{{else}}
		.bonus ${outcomes[$index]}
		{{/if}}
		{{/each}}

section(role='game')
	#context
		.campaign(title='The currently selected campaign.')
			-if(currentCampaign)
				a(href='/campaigns/' + currentCampaign.id)= currentCampaign.name
			-else
				a(href='/campaigns/join/') join a campaign
		.character(title='You are playing as ...')
			-if(currentCharacter && !isMaster)
				a(href='/characters/' + currentCharacter.id)=currentCharacter.name
			-else if(currentCharacter && isMaster)
				span You are the GM
			-else
				a(href='/characters/add') create a character

		-if(isMaster)
			div
				a(href='/scenes/') edit scene
		
	#board
		-if(currentCampaign)
			#commands
				button(data-action='toggleOoc') toggle ooc
			#chat
				.input
					textarea(id='post')
				.buttons
					button(data-action='post') post
			#pagination
			#stream
		-else
			p

	#focus
		#roll
			p hover over a post to see any rolls			