script(src='/javascripts/tabula.js')

script#post-template(type='text/x-jquery-tmpl')
	.post
		.type ${type}
		.when ${when}
		.body ${body}	
	
h1= title

#account
	- if (!everyauth.loggedIn)
		h2 Sign In
		a(href='/auth/facebook') Connect with Facebook
	- else
		- if (everyauth.facebook)
			-var user = everyauth.facebook.user; 
			p= user.first_name + ' ' + user.last_name
				a(href='/logout') Sign Out

#context
	div character
	div map

#board

	#chat
		textarea(id='post')
		button(data-action='post') post
		button(data-action='clear') clear		
		button(data-action='roll') roll


	#stream
